
<h2>All Notes</h2>

<section class="section">
	<div class="container">
     
		<nav class="level">
		  <!-- Left side -->
		  <div class="level-left">
		    <p class="level-item">
		        <strong>Actions</strong>
		    </p>
		  </div>
		  <!-- Right side -->
      <% @entries.each do |entry| %>
		  <div class="level-right">
        <p class="level-item">
          
          <%= button_to "Edit", entry, method: :get, class:"button" %>
        </p> 
        <p class="level-item">
        
        <%= button_to "Delete", entry, method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
        </p>

		  </div>
		</nav>
		<hr/>

		<div class="content">

      <%= entry.notes %>
		</div>
    <% end %>
	</div>
</section>

<style>
h1, h2 {
    display: flex;
    justify-content: center;
}
table, th, td {
  padding: 5px;
}
table {
  border-spacing: 15px;
}
</style>

<div>
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Link</th>
        <th>Notes</th>
    </tr>
    <% @entries.each do |entry| %>
    <tr>
        <td>
        <%= entry.group %>
        </td>
        <td>
        <%= entry.name %>
        </td>
        <td>
        <%= entry.link %>
        </td>
        <td>
        <%= entry.notes %>
        </td>
        <td>
        <%= button_to "Delete", entry, method: :delete, data: { confirm: "Are you sure you want to delete this Project ?"} %>
        </td>
   </tr>
 <% end %>
 </table>
</div>