<!-- <style>
    h1 {
        display: flex;
        justify-content: center;
    }

    form {
        class: "form-group"
        display: flex;
        justify-content: center;
    }
</style> -->

<h1>New Entry</h1>

<% content_for :page_title, "Create a new post" %>
<%= render 'form' %>

<!-- <%= form_with(model: @entry) do |form| %>

 <div>
    <div class="mb-3">
    <%= form.label :group %>
    <%= form.select :group, options_for_select(%w[Journal Notes]) %> 
    </div>

    <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name %> 
    </div>
    <div class="mb-3">
    <%= form.label :link %>
    <%= form.text_field :link %> 
    </div>
    <div class="mb-3">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
    </div>
 </div>

 <div>
   <%= form.submit %>
 </div>

<% end %> -->

<br>

<div>
 <%= link_to "Back to home", root_path %>
</div>
