<% content_for(:html_title) { 'New Note' } %>
<div class="is-align-content-center">
    <h1 class="is-size-3">Create a new note</h1>
</div>

<%= render 'form' %>
<br>

<!-- <%= form_with(model: @entry) do |form| %>

 <div>
    <div class="mb-3">
    <%= form.label :group %>
    <%= form.select :group, options_for_select(%w[Journal Notes]) %> 
    </div>

    <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name %> 
    </div>
    <div class="mb-3">
    <%= form.label :link %>
    <%= form.text_field :link %> 
    </div>
    <div class="mb-3">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
    </div>
 </div>

 <div>
   <%= form.submit %>
 </div>

<% end %> -->

