<h1>New Entry</h1>

<%= form_with(model: @entry) do |form| %>

 <div>
    <%= form.label :group %>
    <%= form.select :group, options_for_select(%w[Journal Notes]) %> <br>
    <%= form.label :name %>
    <%= form.text_field :name %> <br>
    <%= form.label :link %>
    <%= form.text_field :link %> <br>
    <%= form.label :notes %>
    <%= form.text_field :notes %>
 </div>

 <div>
   <%= form.submit %>
 </div>

<% end %>

<br>

<div>
 <%= link_to "Back to home", root_path %>
</div>
