

	<div class="container">
		<nav class="level">
		  <!-- Left side -->
		  <div class="level-left">
		    <div class="level-item">
		        <h1 class="subtitle is-4"><%= @entry.name %></h1>
		    </div>
		  </div>
		  <!-- Right side -->
		  <div class="level-right">
             <p class="level-item">
          
          <%= link_to "Edit", edit_entry_path(@entry), class: "button" %>
        </p> 
        <p class="level-item">
        
        <%= button_to "Delete", @entry, method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
        </p>

		  </div>
		</nav>
		<hr/>

		<div class="content">
            <strong>URL: </strong> <%= @entry.link %>
			<br>
			<br>
			<strong>Notes: </strong><p><%= @entry.notes %></p>
		</div>

	</div>
