<div class="has-text-centered">
     <h2 class="subtitle is-3">All Entries</h2>
</div>
<div class="section">
	<div class="container">
		<% @entries.each do |entry| %>
			<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4"><%= link_to entry.name, entry %></p>
		      </div>
		    </div>
		    <div class="content">
		     	<%= entry.notes %>
		    </div>
		  </div>
		</div>
		<% end %>
	</div>
</div>

<!-- <style>
h1, h2 {
    display: flex;
    justify-content: center;
}
table, th, td {
  padding: 5px;
}
table {
  border-spacing: 15px;
}
</style>

<div>
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Link</th>
        <th>Notes</th>
    </tr>
    <% @entries.each do |entry| %>
    <tr>
        <td>
        <%= entry.group %>
        </td>
        <td>
        <%= entry.name %>
        </td>
        <td>
        <%= entry.link %>
        </td>
        <td>
        <%= entry.notes %>
        </td>
        <td>
        <%= button_to "Delete", entry, method: :delete, data: { confirm: "Are you sure you want to delete this Project ?"} %>
        </td>
   </tr>
 <% end %>
 </table>
</div> -->