<% content_for(:html_title) { 'Home' } %>
<div class="has-text-centered">
     <h2 class="title is-3">All Entries</h2>
</div>
<br>
	<div class="container">
		<% @entries.each do |entry| %>
			<div class="card">
		    <div class="card-content">
		      <div class="media">
		        <div class="media-content">
		          <p class="title is-4"><%= link_to entry.name, entry %></p> 
		        </div>
		      </div>
          <div class="content">
              <%= entry.notes %> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container">
    <% @journals.each do |journal|%>
      <div class="card">
		    <div class="card-content">
		      <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= link_to journal.title, journal %></p>
            </div>
          </div>
          <div class="content">
              <%= journal.day %>/<%= journal.month %>/<%= journal.year %> 
              <br>
              <%= journal.description %>
          </div>
        </div>
		  </div>
    <% end %>
	</div>
<br>