<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>

  <%= render '/shared/navbar' %>
  <h1></h1>
  <div class="container">
  <div class="notification is-primary has-text-centered">
     <h1 class="title is-2">WELCOME TO YOUR JOURNAL</h1> 
  </div>
  <%= render '/shared/toggle' %>
    <%= yield %>
  </body> 

</html>
